* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #530a60;
}
/*How to create a responsive hamburger menu: https://youtu.be/flItyHiDm7E?si=RCRXbJbcUbuCzK6y */

    .hamburger {
        display: block;
        position: relative;
        padding: 30px 15px;
        background-color: #530a60;
        color: #fff;
        cursor: pointer;
       
    }

    .hamburger span {
        display: inline-block;
        position: fixed;
        right: 0;
        top: 0;
        height: 3px;
        width: 25px;
        background-color: #fff;
        transition: all 0.3s ease-in-out;
    }
    .hamburger span:nth-child(1) {
        top: 10px;
        right: 15px;
      
    }

    .hamburger span:nth-child(2) {
        top: 18px;
        right: 15px;
    }

    .hamburger span:nth-child(3) {
        top: 26px;
        right: 15px;
    }

    .hamburger.active span:nth-child(1) {
        transform: rotate(45deg);
        top: 18px;
        right: 15px;
    }

    .hamburger.active span:nth-child(2) {
        transform: rotate(-45deg);
        top: 18px;
        right: 15px;
    }

    .hamburger.active span:nth-child(3) {
        display: none;
    }
    .nav-menu {
        display: none;
        position: fixed;
        top: 30px;
        right: 0;
        width: 100%;
        background-color: #530a60;
        padding: 20px;
    }

    .nav-menu a {
        display: inline-block;
        color: #fff;
        text-decoration: none;
        margin-bottom: 10px;
        margin-left: 25px
        
    }

    .hamburger.active + .nav-menu {
        display: block;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 23px;
    }
    .video{
        Position: absolute;
        z-index: -1; 
    }
     .title1{
        color: rgb(198, 194, 194);
        margin-top: 100px;
        font-family: 'Agrandir', sans-serif;
        font-size: 50px;
        margin-left:350px;
    }
        
     .title2{
        color: rgb(198, 194, 194);
        margin-top: 10px;
        font-family: 'Agrandir', sans-serif;
        font-size: 23px;
        margin-left:350px;
     }
     main {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
     }
        .Horiseon {
            flex: 4;
            padding: 100px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: flex-start;
            margin-right:350px;
          }
          
          /* Added rotation, box-shadow, border-radius */
          .card {
            border-style: solid;
            border-width: 1px;
            border-radius: 30px;
            padding: 10px;
            flex: 0 0 300px;
            transform: rotate(0deg);
            box-shadow: 10px 10px 10px #aaaaaa;
            margin: 20px;
          }
          
          /* Added border-radius to match the card */
          .card header {
            border-radius: 50px 50px 50px 50px;
            padding: 20px;
          }
          
          .card p {
            text-align: center;
          }
          
          .card img {
            width: 100%;
          }
          
          @media screen and (max-width: 768px) {
            main,
            nav {
              flex-direction: column;
            }
    }